<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Curve Point</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/validate}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<label for="CurveId">Curve ID</label>
			<div class="input-append" align="left">
					<input type="text" th:field="*{curveId}" id="curveId" placeholder="   Curve ID" required="required"/>
			</div>

			<label for="Term"> <br/> Term </label>
			<div class="input-append" align="left">
				<input type="text" th:field="*{term}" id="term" placeholder="   Term" required="required"/>
			</div>

			<label for="Value"> <br/> Value</label>
			<div class="input-append" align="left">
				<input type="text" th:field="*{value}" id="value" placeholder="   Value" required="required"/>
			</div>

			<div class="d-grid gap-2 d-md-block"> <br/>
				<a class="btn btn-danger col-2" th:href="@{/curvePoint/list}" role="button">
                    Cancel
                </a>
				<button class="btn btn-primary" type="submit">Add CurvePoint</button>
			</div>
		</form>
	</div>

</div>
</body>
</html>